.sidebar{
    position: absolute;
}
.bloco-direita{
    margin-left: 15%;
    padding: 40px;
}
.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.status.ligado {
    background-color: green;
}

.status.desligado {
    background-color: red;
}
