* {
    font-family: "Onest", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.onest {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body{
    background-color: #a3c1e5;
    display: flex;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 0px); 
    height: 5rem;
    background-color: #010b22;
    display: flex;
    align-items: center;
    padding-left: 15%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.142);
    z-index: 10;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: #010b22;
}

.imagem-container {
    width: 139px;
    height: 100px; 
    overflow: hidden;
}

.botao_header{
    margin: 10px;
    background-color: transparent;  
    border: none;
    border-radius: 15px;
    padding: 7px;
    font-size: 14px;
    color: #bce7f8;
    display: flex;
    font-size: 16px;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    justify-content: flex-start;
} 

.botao_header:hover{
    color: white;
}
.botao_header .imagem_botao {
    transition: opacity 0.3s ease-in-out;
}

.botao_header:hover .imagem_botao {
    content: url("Images/imagem_azul.png");

}
.botao_header:hover #botao2 {
    content: url("Images/imagem_branca2.png");

}
.botao_header:hover #botao3 {
    content: url("Images/imagem_white3.png");
}

.imagem_botao{
    width: 16px;
    margin-right: 20px;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #010b22;
    height: 5rem;
    width: 100%;
    padding: 8px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.142);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .conteudo {
    margin-left: 17%;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 7rem;
}
.linha {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.linha:first-child {
    justify-content: center; 
}

.linha:first-child .grafico {
    flex: 0.6; 
}

.linha:last-child .grafico {
    width: 100%; 
    height: 350px; 
}
.grafico {
    flex: 1;
    background-color: #d0e1f2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.142);
    text-align: center;
    max-height: 290px; 
}

.bloco_direita{
    display: flex;
}

.coluna{
    display: flex;
    flex-direction: row;
}

.container {
    width: 200px;
    height: 400px;
    margin-top: 40px;
    padding: 1px 10px;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.142);
}
.container2 {
    width: 347px;
    height: 250px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.142);
}
.container3{
    width: 400px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 40px;
    padding: 1px 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.142);
}
.container, .container2{
    margin-left: 250px;
}
.caixa{
    width: 400px;
    margin: 20px auto;
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    border: 1px solid grey;
}

.botao_dashboard {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    transition: 0.3s;
}
.botao_dashboard:hover {
    background-color: rgb(23, 23, 108);
    color: white;
}

.maior {
    width: 100%;
    height: 250px; 
}


canvas {
    max-width: 100%;
    height: 100% !important;
}

h1{
    color: rgb(41, 31, 172);
}

#logo{
    height: 130px;
    width: 130px;
    margin-left: 10%;

}

#bots {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 3rem;
    width: 9rem;
    border-radius: 15px;
    margin-left: 3rem;
    margin-right: 3rem;
    transition: 0.3s;
    color: #b3dae8;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
#bots:hover{
    text-decoration:none;
    color: white;
}

#bots::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

#bots:hover::after {
    width: 100%;
    left: 0;
}




